/* stylelint-disable custom-property-empty-line-before */

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  --default: #fff;
  --color-one: #6070ff;
  --color-two: #396df2;
  --color-three: #344563;
  --color-four: #396df2;
  --color-five: #091e42;
  --color-six: #172b4d;
  --color-social: #7f8cff;
  --bg-one: #ebebff;
  --bg-two: #4053fc;
  --icon: #505f79;
  --vector: #acb7c3;
}

body {
  background-color: #e5e5e5;
}

/* header bar */

header {
  display: flex;
  background-color: var(--default);
  align-items: center;
  justify-content: space-between;
  padding: 25px 155px;
}

header h1 a {
  font-weight: bold;
  font-size: 18px;
  color: var(--color-one);
  text-decoration: none;
}

nav {
  width: 86px;
  height: 40px;
  margin-right: 200px;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 10px 155px 0 0;
}

nav ul li {
  color: var(--color-three);
  font-weight: 500;
  font-size: 15px;
  margin-left: 32px;
}

.menu a {
  text-decoration: none;
  color: var(--color-three);
}

/* main page */

#page-header {
  background-color: var(--default);
  margin-top: -40px;
  border-bottom-left-radius: 100px;
}

.page-header-container {
  background-image: url(image/Header\ bg.svg);
  background-color: var(--default);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  display: flex;
  flex-direction: column;
  margin: 40px 8px 77px 35px;
  padding: 300px 150px 150px 150px;
  border-bottom-left-radius: 100px;
}

.page-header-container h2 {
  color: var(--color-five);
  font-size: 48px;
  font-weight: 700;
}

.page-header-container p {
  font-size: 20px;
}

.text-social {
  color: var(--color-social);
  font-weight: 500;
  margin: 12px 0 16px 0;
}

.contacts-social {
  display: flex;
  list-style: none;
  margin-right: 19px;
  font-size: 20px;
}

.contacts-social a {
  color: var(--icon);
  margin-right: 19px;
}

/* cards */

.card {
  max-width: 1156px;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin: 142px auto;
  padding: 24px;
  background-color: var(--default);
  border-radius: 24px;
}

.image-card {
  width: 544px;
  height: 448px;
}

.reverse {
  order: -1;
}

.header-card {
  font-weight: bold;
  font-size: 32px;
  color: var(--color-six);
  margin: 12px 0;
}

.title-card {
  display: flex;
}

.title-card * {
  padding-right: 25px;
  font-weight: 600;
  font-size: 18px;
  color: #7a869a;
}

.text-card {
  margin-top: 32px;
  margin-bottom: 24px;
  font-size: 16px;
  color: var(--color-three);
}

.skills-card {
  display: flex;
  margin-top: 24px;
  margin-bottom: 40px;
}

.skills-card li {
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  padding: 4px 12px;
  background: #ebebff;
  margin-right: 8px;
  border-radius: 8px;
  list-style: none;
}

.title-card li:first-child {
  list-style: none;
  color: var(--color-three);
}

button {
  font-weight: 500;
  font-size: 17px;
  margin: 28px 0;
  width: 124px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: var(--color-four);
  border-radius: 8px;
  border: 1px solid var(--color-one);
}

.alter {
  color: #fff;
  background-color: var(--bg-two);
}

/* about */

#about-content {
  display: flex;
  justify-content: center;
  background-color: var(--default);
  border-top-right-radius: 100px;
}

.content-about-container {
  display: flex;
  flex-flow: row nowrap;
  padding: 142px;
  justify-content: center;
}

.block-left {
  margin-right: 30px;
  justify-content: center;
}

.title-about {
  color: var(--color-three);
  font-size: 40px;
  font-weight: bold;
  margin: 12px 0;
}

.lang-skills {
  padding: 24px 0;
  width: 480px;
  display: flex;
  justify-content: space-between;
}

.img-skill {
  width: 122px;
  height: 120px;
  margin-right: 12px;
}

.colors-icon {
  color: var(--color-three);
}

.icons-foot {
  padding-left: 10px;
}

hr {
  height: 1px;
  background-color: var(--vector);
  opacity: 0.2;
}

.resume-see {
  width: 180px;
  margin: 27px auto 0 auto;
  height: 48px;
  padding: 12px 16px;
  font-weight: 500;
  font-size: 17px;
  background-color: #fff;
  color: #6070ff;
  border-radius: 8px;
  display: flex;
  position: absolute;
}

/* footer */

footer {
  background-color: var(--default);
  margin-top: -103px;
}

.container {
  background-image: url(image/contact-background.png);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #6070ff;
  display: flex;
  padding: 105px 24px 8px 24px;
  margin: 103px auto 0 auto;
  border-top-left-radius: 100px;
}

.container section {
  margin: 0 auto;
}

.container h1 {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin-bottom: 12px;
}

.container p {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-bottom: 40px;
}

.container input {
  border: 1px solid #cfd8dc;
  margin-bottom: 20px;
  width: calc(100% - 16px);
  padding-left: 16px;
  height: 48px;
  font-size: 17px;
  color: #172b4d;
}

.container input::placeholder {
  color: #172b4d;
}

.form-contacts {
  width: 447px;
  margin: 0 auto 127px auto;
}

.form-contacts textarea {
  width: calc(100% - 16px);
  padding: 15px 38px 15px 16px;
  color: #172b4d;
  font-size: 15px;
}

.form-contacts textarea::placeholder {
  color: #b3bac5;
}

.get-it-touch {
  margin: 27px auto 0 auto;
  width: 140px;
  height: 48px;
  padding: 12px 16px;
  font-weight: 500;
  font-size: 17px;
  background-color: #fff;
  color: #6070ff;
  border-radius: 8px;
  display: flex;
}

.get-it-touch:hover {
  background-color: #6070ff;
  color: #fff;
}

.button-see-alter:hover {
  background-color: #6070ff;
  color: #fff;
}

.get-it-touch:visited {
  background: #2230d2;
  color: #fff;
}

button:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    padding: 10px 20px;
  }

  .page-header-container {
    margin: 40px 8px 77px 35px;
    padding: 188px 0 300px 0;
  }

  .page-header-container h2 {
    color: var(--color-five);
    font-size: 38px;
    font-weight: 700;
  }

  .page-header-container p {
    font-size: 15px;
  }

  .card {
    margin-left: 30px;
    margin-right: 30px;
    flex-flow: row wrap;
    justify-content: center;
  }

  .image-card {
    margin-left: auto;
    margin-right: auto;
    width: 327px;
    height: 270px;
  }

  .title-card li {
    font-size: 17px;
  }

  .content-about-container {
    flex-flow: row wrap;
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  .card {
    width: calc(100% - 120px);
    margin-left: 60px;
    margin-right: 60px;
  }

  .image-card {
    width: 490px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .skills-lang {
    width: 80%;
    justify-content: center;
  }

  .img-skill {
    width: 70px;
    height: 68px;
    margin-right: 12px;
  }
}
